:root {
    --red: hsl(0, 100%, 68%);
    --vdblue: hsl(230, 29%, 20%);
    --dgblue: hsl(230, 11%, 40%);
    --gblue: hsl(231, 7%, 65%);
    --lgblue: hsl(207, 33%, 95%);
}

 
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
}

.header {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 3rem 0 5.5rem;
}

.header::after {
    content: '';
    position: absolute;
    background: var(--lgblue);
    border-bottom-left-radius: 100px;
    width: 50%;
    height: 55%;
    top: 0;
    right: 0;
    z-index: -1;
}

.container {
    max-width: 114rem;
    margin: 0 auto;
}

.nav-container {
    margin-bottom: 13rem;
}

.nav {
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    position: relative;
}

.nav__list {
    list-style-type: none;
    display: flex;
    gap: 4rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
}

.nav__mobile.nav__list {
    gap: 2.5rem;
}

.nav__link {
    text-decoration: none;
    color: var(--vdblue);
    text-transform: uppercase;
}

.nav__cta {
    background: none;
    border: none;
    color: var(--gblue);
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.nav__desktop .nav__cta {
    margin-left: 5rem;
}

.nav__mobile .nav__cta {
    padding-top: 2.5rem;
    border-top: 1px solid var(--lgblue);
    width: 80%;
    margin: 0 auto;
}

.nav__mobile {
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    background: white;
    box-shadow: 0 3px 8px 3px rgba(0,0,0,0.1), -1px 0px 8px 3px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    top: 10rem;
    z-index: 3;
    border-radius: 3px;
    padding: 2rem 0;
    transition: all .2s ease-in-out;
}

.nav__mobile.show {
    visibility: visible;
    opacity: 1;
}

.menu {
    display: none;
}

.content {
    display: flex;
}

.content__image {
    background: url(images/illustration-devices.svg) no-repeat;
    display: block;
    position: absolute;
    width: 47%;
    height: 70%;
    top: 50%;
    right: 0;
    transform: translateY(-35%);
}

.content__text {
    z-index: 5;
}

.new {
    color: white;
    background: var(--vdblue);
    text-transform: uppercase;
    padding: 0.4rem 1.2rem;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-right: 1.5rem;
}

.monograph {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.6rem;
    color: var(--gblue);
    margin-bottom: 2rem;
}

.heading {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    color: var(--vdblue);
    font-size: 5.5rem;
    line-height: normal;
    margin-bottom: 3.5rem;
}

.heading__text {
    color: var(--dgblue);
    margin-bottom: 5.5rem;
}

.button {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    background: var(--red);
    padding: 1.5rem 3rem;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 1px; 
    display: inline-block;
}

.live {
    font-family: 'Barlow Condensed', sans-serif;
    margin-left: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--gblue);
}

@media screen and (max-width: 700px) {

    .container {
        padding: 0 3rem;
    }

    .content {
        flex-direction: column-reverse;
    }

    .nav__desktop {display: none;}

    .menu {
        display: inline-block;
        cursor: pointer;
        content: url("images/icon-hamburger.svg");
    }

    .menu.active {
        content: url("images/icon-close.svg");
    }

    .content__image {
        position: relative;
        height: 30rem;
        width: auto;
        background-size: auto 100%;
        right: -5rem;
        margin: 0 -3rem 5rem 0;
    }

    .monograph, .heading {
        margin-bottom: 2.5rem;
    }

    .heading {
        font-size: 4rem;
    }

    .heading__text {
        margin-bottom: 3rem;
    }

    .button {
        padding: 1.3rem 1.7rem;
        font-size: 1.4rem;
    }

    .live {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1170px) {
    .container {
        padding: 0 3rem;
    }
}
